<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.uepb.nutes.haniot">

    <!-- PERMISSIONS -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- Android >= 6 necessita de localização ativa -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- ACTIVITIES -->
        <activity android:name=".activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.account.LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.account.SignupActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="br.edu.uepb.nutes.ocariot.activity.account.SignupActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DeviceInforActivity"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".devices.ThermometerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".devices.GlucoseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".devices.hdp.BloodPressureHDPActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.signove.health.service.HealthService" />
            </intent-filter>
        </activity>
        <activity android:name=".devices.hdp.BodyCompositionHDPActivity" />
        <activity
            android:name=".devices.ScaleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".devices.HeartRateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".devices.RecordHeartRateActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.pairing.ScalePairingActivity" />
        <activity
            android:name=".activity.settings.SettingsActivity"
            android:label="@string/action_settings"
            android:theme="@style/AppTheme.Settings" />
        <activity
            android:name=".devices.SmartBandActivity"
            android:screenOrientation="portrait" />

        <!-- ACTIVITIES CHARTS -->
        <activity android:name=".activity.account.ChangePasswordActivity" />
        <activity android:name=".activity.charts.BodyCompositionChartActivity" />
        <activity android:name=".activity.charts.TemperatureChartActivity" />
        <activity android:name=".activity.charts.HeartRateChartActivity" />
        <activity android:name=".activity.charts.GlucoseChartActivity" />
        <activity android:name=".activity.charts.BloodPresssureChartActivity" />

        <!-- ACTIVITIES ELDERLY -->
        <activity
            android:name=".elderly.ElderlyMonitoredActivity"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeSecondary">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".elderly.ElderlyRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeSecondary" />
        <activity
            android:name=".elderly.FallRiskActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeSecondary" />
        <activity
            android:name=".elderly.FallRiskResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeSecondary" />
        <activity
            android:name=".elderly.FallCharacterizationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeSecondary" />
        <activity
            android:name=".elderly.ElderlyFallActivity"
            android:theme="@style/AppThemeSecondary" />
        <activity
            android:name=".elderly.ElderlyPreviewActivity"
            android:theme="@style/AppThemeSecondary" />
        <!-- END ELDERLY -->


        <!-- SERVICES -->
        <service
            android:name=".service.BluetoothLeService"
            android:enabled="true" />
        <service
            android:name="com.signove.health.service.HealthService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BLUETOOTH"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.signove.health.service.HealthService" />
            </intent-filter>
        </service>
        <service android:name="com.signove.health.service.BluetoothHDPService" />
        <service android:name=".service.FCMService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- END SERVICES -->

    </application>

</manifest>