<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.uepb.nutes.haniot">
    <!-- PERMISSIONS -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- Android >= 6 necessita de localização ativa -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- RECEIVER ACCOUNT SERVICE -->
        <receiver android:name=".service.TokenExpirationService$TokenAlarmReceiver" />
        <!-- ACTIVITIES -->
        <activity android:name=".activity.WelcomeActivity" />
        <activity android:name=".activity.PilotStudyActivity" />
        <activity android:name=".activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.account.LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.account.UpdateDataActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="br.edu.uepb.nutes.ocariot.activity.account.ChangeDataActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".devices.ThermometerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".devices.GlucoseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".devices.hdp.BloodPressureHDPActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.signove.health.service.HealthService" />
            </intent-filter>
        </activity>
        <activity android:name=".devices.hdp.BodyCompositionHDPActivity" />
        <activity
            android:name=".devices.ScaleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".devices.HeartRateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".devices.RecordHeartRateActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.pairing.ScalePairingActivity" />
        <activity
            android:name=".activity.settings.SettingsActivity"
            android:label="@string/action_settings"
            android:theme="@style/AppTheme.Settings" />
        <activity
            android:name=".devices.SmartBandActivity"
            android:screenOrientation="portrait" /> <!-- ACTIVITIES CHARTS -->
        <activity android:name=".activity.account.ChangePasswordActivity" />
        <activity android:name=".activity.charts.BodyCompositionChartActivity" />
        <activity android:name=".activity.charts.TemperatureChartActivity" />
        <activity android:name=".activity.charts.HeartRateChartActivity" />
        <activity android:name=".activity.charts.GlucoseChartActivity" />
        <activity android:name=".activity.charts.BloodPresssureChartActivity" />
        <activity android:name=".activity.charts.SmartBandChartActivity" /> <!-- ACTIVITIES ELDERLY -->
        <activity
            android:name=".activity.ManagerPatientsActivity"
            android:label="@string/title_activity_manage_children"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.AddMeasurementActivity" />
        <activity
            android:name=".activity.PatientRegisterActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.PatientQuizActivity"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar"
            android:screenOrientation="portrait"/> <!-- ACTIVITIES REGISTER DEVICES -->
        <activity android:name=".devices.register.DeviceRegisterActivity" />
        <activity android:name=".devices.register.DeviceManagerActivity" /> <!-- END ACTIVITIES REGISTER DEVICES -->
        <!-- SERVICES -->
        <service
            android:name=".service.BluetoothLeService"
            android:enabled="true" />
        <service android:name=".service.TokenExpirationService" />
    </application>

</manifest>