<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.edu.uepb.nutes.haniot">

    <!-- PERMISSIONS -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- Android >= 6 necessita de localização ativa -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <application
        android:name="br.edu.uepb.nutes.haniot.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

      <!-- ACTIVITIES -->
        <activity android:name="br.edu.uepb.nutes.haniot.activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="br.edu.uepb.nutes.haniot.activity.account.LoginActivity"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="br.edu.uepb.nutes.haniot.activity.account.SignupActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="br.edu.uepb.nutes.ocariot.activity.account.SignupActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="br.edu.uepb.nutes.haniot.activity.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="br.edu.uepb.nutes.haniot.activity.DeviceInforActivity"
            android:parentActivityName="br.edu.uepb.nutes.haniot.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="br.edu.uepb.nutes.haniot.activity.devices.ThermometerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="br.edu.uepb.nutes.haniot.activity.devices.GlucoseActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="br.edu.uepb.nutes.haniot.activity.devices.BloodPressureActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="br.edu.uepb.nutes.haniot.activity.devices.BloodPressureHDPActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.signove.health.service.HealthService" />
            </intent-filter>
        </activity>

        <activity android:name="br.edu.uepb.nutes.haniot.activity.devices.BodyCompositionMonitorHDPActivity" />

        <activity
            android:name="br.edu.uepb.nutes.haniot.activity.devices.ScaleActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="br.edu.uepb.nutes.haniot.activity.devices.HeartRateActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="br.edu.uepb.nutes.haniot.activity.devices.RecordHeartRateActivity"
            android:screenOrientation="portrait" />

        <activity android:name="br.edu.uepb.nutes.haniot.activity.pairing.ScalePairingActivity" />

        <activity
            android:name="br.edu.uepb.nutes.haniot.activity.settings.SettingsActivity"
            android:label="@string/action_settings"
            android:theme="@style/AppTheme.Settings" />

        <activity android:name="br.edu.uepb.nutes.haniot.activity.account.ChangePasswordActivity"></activity>

        <activity android:name="br.edu.uepb.nutes.haniot.activity.graphs.ScaleGraphActivity"></activity>
        <activity android:name="br.edu.uepb.nutes.haniot.activity.graphs.ScaleGraphBodyFatActivity"></activity>
        <activity android:name="br.edu.uepb.nutes.haniot.activity.graphs.TemperatureGraphActivity"></activity>
        <activity android:name="br.edu.uepb.nutes.haniot.activity.graphs.HeartRateGraphActivity"></activity>
        <activity android:name="br.edu.uepb.nutes.haniot.activity.graphs.BloodPresssureHDPGraphActivity"></activity>

        <!-- SERVICES -->
        <service
            android:name="br.edu.uepb.nutes.haniot.service.BluetoothLeService"
            android:enabled="true" />
        <service
            android:name="com.signove.health.service.HealthService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BLUETOOTH"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.signove.health.service.HealthService" />
            </intent-filter>
        </service>
        <service android:name="com.signove.health.service.BluetoothHDPService" />

    </application>

</manifest>